
<fa-view>
  <!--<fa-modifier fa-translate="[20, 20, 0]">-->
  <fa-modifier fa-translate="[0, 0, 0]">
    <fa-surface ng-controller="main.testit.testcontroller as Ctrl">
      <hr>
      <!--<button class="btn btn-danger" ng-click="Ctrl.functest()">{{Ctrl.message}}</button>-->
      <button id="test" class="btn btn-danger" ng-click="Ctrl.functest()">*{{Ctrl.msg}}*</button>

      <md-button class="md-raised md-primary">
        <span ng-click="functest()">controller -- {{msg}}</span>
      </md-button>

      <md-tabs md-selected="selectedIndex">
        <md-tab ng-repeat="tab in tabs"
                ng-disabled="tab.disabled"
                label="{{tab.title}}">
          <div class="demo-tab tab{{$index%4}}" layout="column" layout-fill layout-align="space-around center">
            <div ng-bind="tab.content"></div>
            <hr>
            <hr>
            <hr>
            <hr>
            end
          </div>
        </md-tab>
      </md-tabs>


      <div layout="row" layout-sm="column" layout-align="left left">
        <md-button class="md-raised">default-btn</md-button>
        <md-button class="md-raised md-primary">Primary</md-button>
        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
      </div>

      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
      </div>

      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      <md-progress-linear class="md-warn" md-mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}">
      </md-progress-linear>


      <div layout layout-sm="column">
        <md-input-container flex>
          <label>First Name</label>
          <input ng-model="user.firstName" placeholder="Placeholder text">
        </md-input-container>
        <md-input-container flex>
          <label>Last Name</label>
          <input ng-model="theMax">
        </md-input-container>
      </div>

      <md-toolbar class="md-accent">
        <h1 class="md-toolbar-tools">
          <span flex>Awesome Md App</span>
          <md-button class="md-fab md-accent" aria-label="refresh">
            <md-tooltip>
              Refresh
            </md-tooltip>
            <md-icon icon="/img/icons/ic_refresh_24px.svg" style="width: 24px; height: 24px;">
            </md-icon>
          </md-button>
        </h1>
      </md-toolbar>
      <md-content class="md-padding">
        <p>
          The tooltip is visible when the button is hovered, focused, or touched.
        </p>
        <md-button class="md-fab md-fab-top-left left" aria-label="Insert Drive">
          <md-icon icon="/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
          <md-tooltip md-visible="demo.showTooltip">
            Insert Drive
          </md-tooltip>
        </md-button>
        <md-button class="md-fab md-fab-top-right right" aria-label="Photos">
          <md-icon icon="/img/icons/ic_photo_24px.svg" style="width: 24px; height: 24px;"></md-icon>
          <md-tooltip>
            Photos
          </md-tooltip>
        </md-button>
        <br/><br/><br/><br/><br/><br/>
        <p>
        <div>
          Additionally, the Tooltip's `md-visible` attribute can use data-binding to programmatically
          show/hide itself. Toggle the checkbox below...
        </div>
        </p>
        <md-checkbox ng-model="demo.showTooltip">
          Insert Drive
        </md-checkbox>
      </md-content>

      <ion-tabs class="tabs-positive tabs-icon-only">

        <ion-tab title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
          <!-- Tab 1 content -->
        </ion-tab>

        <ion-tab title="About" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
          <!-- Tab 2 content -->
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
          <!-- Tab 3 content -->
        </ion-tab>

      </ion-tabs>

    </fa-surface>
  </fa-modifier>
</fa-view>